.projects-container {
  display: flex;
  flex-direction: column;
  padding: 1% 1%;
  text-align: left;
}

.projects-container .projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the grid items */
  gap: 20px;
}

.projects-container .projects-grid .project {
  text-align: center;
  width: 100%;
  max-width: 600px; /* Ensures consistent size for all projects */
  margin-bottom: 10px; /* Adjusts spacing between projects */
  object-fit: cover;
}

.zoom {
  border-radius: 5px;
  transition: transform 0.2s;
  display: block;
  margin-bottom: 5px; /* Reduces space below the image */
}

.zoom:hover {
  transform: scale(1.05);
}

.project-title {
  margin: 0; /* Removes default margin */
  padding: 0; /* Ensures no extra spacing */
}

.project h2 {
  font-size: 1.5em;
  margin: 5px 0; /* Reduces space above and below title */
}

.project p {
  margin: 5px 0; /* Removes excess space between title and description */
}

@media screen and (max-width: 700px) {
  .projects-container .projects-grid {
      display: block;
  }

  .projects-container .projects-grid .project {
      width: 100%; /* Ensures projects take full width on smaller screens */
  }
}
